@charset "utf-8";

.snow-container {
    background-image: url(../images/snowfall.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.snow-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.4;
}

.snow-container h1 {
    font-size: clamp(3rem, calc(6rem * (100vw/1400px)), 6rem);
    color: aliceblue;
    position: absolute;
    z-index: 2;
}

.snow {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    animation: snowFall 10s linear;
    z-index: 2;
}

@keyframes snowFall {
    0% {
        opacity: 0;
        top: 0;
        transform: translateX(5px);
    }

    10% {
        opacity: 1;
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(5px);

    }

    30% {
        transform: translateX(-3px);

    }

    40% {
        transform: translateX(7px);

    }

    50% {
        transform: translateX(-3px);

    }

    60% {
        transform: translateX(5px);

    }

    70% {
        transform: translateX(-2px);

    }

    80% {
        transform: translateX(3px);

    }

    90% {
        transform: translateX(-1px);

    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 100vh;
    }

}

.box {
    height: 100vh;
}