@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --base: 1440px;
    --vw-scale: calc(100vw / var(--base));
}

.main {
    font-size: 1.2rem;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #9ee4e0, #3175f3);
    overflow: hidden;
    position: relative;
}

nav {
    width: 80%;
    margin: calc(32px * var(--vw-scale))auto;
    display: flex;
    justify-content: space-between;
}

.logo_area {
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1;
}

.logo_img {
    margin: 0 calc(16px * var(--vw-scale)) 0 0;
    aspect-ratio: 1/1;
}

.logos h2 {
    font-size: 1.5rem;
}

.nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__menu li {
    padding: 0 calc(32px * var(--vw-scale));
}

.nav__menu li a {
    font-weight: 500;
    color: aliceblue;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.nav__menu li a:hover {
    opacity: 0.5;
}

/* infomation */

.infomation {
    width: 1200px;
    height: 1200px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}

.overlay {
    width: 0;
    height: 0;
    border-top: 600px solid #ffffff;
    border-right: 600px solid transparent;
    border-bottom: 600px solid #ffffff;
    border-left: 600px solid #ffffff;
}

#circle {
    width: 1200px;
    height: 1200px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    transition: 1s;
}

.feature {
    position: absolute;
    color: #fff;
}

.feature img {
    width: 72px;
}

.feature div {
    margin-left: calc(16px * var(--vw-scale));
}

.feature div p {
    margin-top: calc(8px * var(--vw-scale));
}

.one {
    display: flex;
    top: 450px;
    right: 70px;
}

.two {
    display: flex;
    top: 100px;
    left: 500px;
    transform: rotate(-90deg);
}

.three {
    display: flex;
    top: 450px;
    left: 70px;
    transform: rotate(-180deg);
}

.four {
    display: flex;
    bottom: 170px;
    left: 500px;
    transform: rotate(-270deg);
}

.pc {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.feature h1 {
    font-size: 3rem;
}

.control {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    text-align: center;
}

.control img {
    width: 40px;
    height: auto;
}

.control h3 {
    margin: calc(32px * var(--vw-scale)) 0;
    color: #fff;
}

#upbtn {
    cursor: pointer;
}

#downbtn {
    cursor: pointer;
    transform: rotate(180deg);
}